#historyPages {
  padding: 25px 30px 25px 30px;
}
#externalLink {
  color: rgb(145, 145, 145);
  font-size: small;
}
.mapouter {
  position: relative;
  text-align: left;
  height: 491px;
  width: 100%;
}
.gmap_canvas {
  margin: 0px 0px 15px 0px;
  overflow: hidden;
  background: none !important;
  height: 491px;
  width: 100%;}
