@font-face {
  font-family: "AGaramond-Regular";
  src: url("fonts/AGaramond-Regular.otf") format("opentype");
  font-family: "AGaramond-Bold";
  src: url("fonts/AGaramond-Bold.otf") format("opentype");
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

label {
  font-weight: 600;
}
body {
  background-color: #cccccc;
  font-family: "AGaramond-Regular", Fallback, serif;
  background-image: url("geometric-leaves.png");
  background-blend-mode: lighten;
}
#siteHeader{
  float: right;
}
#homeIcon{
  margin: 0px 15px 0px 0px;
}
#searchIcon{
  margin: 0px 0px 0px 10px;
}
#tomatoIcon{
  margin: 0px 0px 0px 10px;
}
body a {
  color: rgb(71, 71, 71);
  text-decoration: none;
  transition: 0.3s;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
body a:hover, #homeIcon{
  color: white;
  opacity: 1;
}
#registerBody,
#landingBody,
#plotsBody {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/*#registerBody {*/
/*  background-image: url(https://res.cloudinary.com/dgwzirogr/image/upload/v1648916731/frontendSBA/greenhouse_zzyera.jpg);*/
/*}*/
/*#landingBody {*/
/*  background-image: url(https://res.cloudinary.com/dgwzirogr/image/upload/v1648916731/frontendSBA/park_krkvut.jpg);*/
/*}*/
/*#plotsBody {*/
/*  background-image: url(https://res.cloudinary.com/dgwzirogr/image/upload/v1648916732/frontendSBA/ricepaddy_yatrow.jpg);*/
/*}*/
#navBar {
  padding: 15px;
  font-family: "AGaramond-Bold";
  background-color: #60BF7A;
  font-size: large;
}
#authBar{
  font-family: "AGaramond-Bold";
  background-color: #E5D8B2;
  height: 22px;
}
#authBar a{
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  padding: 0px 0px 0px 2px;
}
#welcome{
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px 10px;
}
#navLogout{
  color: #6c6c6c;
}
.mainContent {
  padding: 30px;
  margin: 75px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 163, 128, .85);
  position: relative;
}
.backArrow{
  position: absolute;
  left: -65px;
  top: -65px;
}
#registrationForm {
  padding: 30px;
  margin: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 163, 128, .85);
}
form > label,
input, .btn {
  display: block;
  margin: 5px;
}
.form-select{
  width: 60%;
}
#plotsDiv {
  padding: 30px;
  margin: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 163, 128, .85);
}
#plotsDiv > table,
tr,
th,
td {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
}
.userLink{
  background-color: #bbbbbb;
  padding: 5px;
}
/*TODO: add hover effects to table rows*/
/*TODO: add fades to page changes*/
.btn-primary {
  background-color: #003bff;
}
.plantCard{
  width: 275px;
  height: 125px;
  padding: 5px;
  display: inline-flex;
  margin: 5px;
  position: relative;
}
.plantCard img{
  height: 110px;
  width: 110px;
}
#addPlantForm, .plantCard{
  border: black 1px solid;
  border-radius: 5px;
  background-color: #ece4d3;
}
#plantIdInCard{
  color: white;
  background-color: rgba(108, 117, 125, 0.9);
  position: absolute;
  top: 10px;
  left: 13px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}
#addPlantForm{
  padding: 10px;
  margin: 0px 0px 5px 0px;
}
#deleteBtn{
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.imgCol{
  display: inline-flex;
  height: 100%;
  margin: 0px 5px 0px 5px;
}
.infoCol{
  padding: 5px 5px 5px 5px;
}
#hiddenFNError {
  display: none;
}
#hiddenLNError {
  display: none;
}
#hiddenEmailError {
  display: none;
}
#hiddenPasswordError {
  display: none;
}
#hiddenCPasswordError {
  display: none;
}
#showPasswordLabel{
  font-style: italic;
  padding-left: 5px;
  color: grey;
}
#showPasswordCheckbox{
  display: inline;
}
#landingPhoto, #rosemaryBush{
  width: 280px;
  height: 40%;
  margin: 35px auto 35px auto;
  border: 20px white solid;
}
.homeLauncher {
  width: 280px;
  height: 40%;
  margin: 15px auto 15px auto;
  padding: 28px 28px 28px 28px;
  border-radius: 12px;
  clear: both;
  background-color: white;
  position: relative;
  color: black;
  background-image: url("45-degree-fabric-light.png");
  box-shadow: #000000c0 3px -3px 0px 0px, #00000059 6px -6px 0px 0px, #00000023 9px -9px 0px 0px;
}
.homeLauncher h3 {
  font-size: medium;
}
.homeLauncher span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.homeLauncher:hover {
  transition: 2s;
  background-color: rgb(255, 236, 214);
}
.homeLauncher span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.homeLauncher:hover span {
  padding-right: 25px;
  color: rgb(0, 0, 0);
}
.homeLauncher:hover span:after {
  opacity: 1;
  right: 0;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(61, 61, 61);
  text-align: center;
}
.footer a{
  color: rgb(175, 175, 175);
  font-family: "Roboto";
}
.footer p {
  background-color: rgba(61, 61, 61, 0.747);
  color: white;
  font-size: 12px;
  line-height: 30px;
}
#heirloomBoiz{
  height: 30%;
  width: 30%;
}
.card {
  width: 18rem;
  display: inline-block;
  margin: 5px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.varietyPhoto{
  height: 150px;
  width: 150px;
}
/*snackbar will be used to notify "sign in successful", "plot add successful", etc*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  border: 2px solid #00baff;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@media screen and (min-width: 350px) {
  .homeLauncher {
    margin: 15px 0px 15px 0px;
  }
}
@media screen and (max-width: 350px) {
  .homeLauncher {
    width: 90%;
  }
}
